<div class="flex">
  <figure class="flex flex-col ml-auto mr-auto">
    <picture>
      <source srcset="<%= Routes.static_path(BlogNewWeb.Endpoint, "/images/" <> @webp_src) %>" type="image/webp">
      <img class="shadow-lg m-auto max-w-xl" src="<%= Routes.static_path(BlogNewWeb.Endpoint, "/images/" <> @jpg_src) %>" alt="<%= @alt %>">
    </picture>
    <figcaption class="font-serif text-lg leading-relaxed text-center text-gray-800"><%= @caption %></figcaption>
  </figure>
</div>
