<nav>
  <span><%= link "Back", to: Routes.post_path(@conn, :index) %></span>
</nav>

<article>
  <h1><%= @post.title %></h1>
  <strong><%= @post.publish_date %></strong>
  <%= raw(@post.content) %>
</article>
